version: '3.5'

services:
  app-server:
    build: .
    container_name: Player1
    ports:
      - "8080:8080"
    restart: always
    networks:
       - gameofthree
    depends_on: 
      - mydb
    external_links:
      - mosquitto:eclipse-mosquitto
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mydb:3306/takeaway_db?createDatabaseIfNotExist=true
      - MYSQL_ROOT_USER=root
      - MYSQL_ROOT_PASSWORD=P@ssword1234
      - GAMEOFTHREE_FROMPLAYERID=player1
      - GAMEOFTHREE_TOPLAYERID=player2
      - GAMEOFTHREE_GAMEMODE=AUTOMATIC
      - SERVER_PORT=8080

  mydb:
    image: mysql
    container_name: Player1-db
    ports:
      - "3306:3306"
    restart: always
    networks:
       - gameofthree
    environment:
      - MYSQL_ROOT_USER=root 
      - MYSQL_ROOT_PASSWORD=P@ssword1234
    volumes:
      - my-vol:/var/lib/mysql

networks:
  gameofthree:
    external:
      name: gameofthree

volumes:
  my-vol: