version: '3.5'

services:
  app-server:
    build: .
    container_name: Player2
    ports:
      - "8081:8080"
    restart: always
    networks:
       - foo
    depends_on: 
      - mydb1
    external_links:
      - mosquitto:eclipse-mosquitto
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mydb1:3306/takeaway_db?createDatabaseIfNotExist=true
      - MYSQL_ROOT_USER=root
      - MYSQL_ROOT_PASSWORD=P@ssword1234
      - GAMEOFTHREE_FROMPLAYERID=player2
      - GAMEOFTHREE_TOPLAYERID=player1
      - GAMEOFTHREE_GAMEMODE=AUTOMATIC
      - SERVER_PORT=8081

  mydb1:
    image: mysql
    container_name: Player2-db
    ports:
      - "3307:3306"
    restart: always
    networks:
       - foo
    environment:
      - MYSQL_ROOT_USER=root 
      - MYSQL_ROOT_PASSWORD=P@ssword1234
    volumes:
      - my-data-volume:/var/lib/mysql

networks:
  foo:
    external:
      name: foo

volumes:
  my-data-volume: